/*style.css*/

.layout {
    font-family: 'Overpass Mono', monospace;
    text-align: center;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    background: no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logoLink {
    text-decoration: none;
}
.logo {
    font-size: 7em;
    text-decoration: none;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding-top: 50px;
}

#search {}

#search input[type="text"] {
    background: url(images/search-white.png) no-repeat 10px 19px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 15px Arial, Helvetica, Sans-serif;
    color: #bebebe;
    width: 35%;
    line-height: 3;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    width: 200px;
}
.displayBox {
  padding: 50px;
  background-color: white;
  width: 75%;
  text-align: center;
  opacity: .8;
  margin:auto;
  margin-top: 25px;
  box-shadow: 0 0 5px 10px #555;
}
.artistFeed {
  font-size: 2em;
  text-align: center;


}
.myartists {
  font-size: 2em;
  text-align: center;

}
*/
.artistList {
  text-align: left;
  list-style-type: none;

}
.deleteIcon {
  width:20%;
}
.artistName{
  width:80%;
  text-align: left;
}
.artist {
  width: 100%;
  display: flex;
}
